/*--------------------------------------
    eyoom (이윰빌더)
--------------------------------------*/

/*---------- Wrapper & Basic Layout & Boxed Layout ----------*/
.wrapper {position:relative;background:#fff}
.basic-layout {background:#fff}
.boxed-layout {padding:0;box-shadow:0 0 5px #bbb;margin-left:auto !important;margin-right:auto !important;background:#fff}
.boxed-layout .header-nav > .navbar > .container {padding-right:0;padding-left:0}

/*---------- Header Topbar ----------*/
.header-topbar {position:fixed;top:0;width:100%;background:#fff;border-bottom:1px solid #e5e5e5;z-index:1005;text-align:center;height:40px}
.header-topbar ul {margin:0}
.header-topbar .topbar-left {position:absolute;top:0;left:0}
.header-topbar .topbar-left .left-menu {margin-left:15px;position:relative;overflow:hidden;clear:both;border-left:1px solid #e5e5e5}
.header-topbar .topbar-left .left-menu > li {line-height:40px;float:left;border-right:1px solid #e5e5e5}
.header-topbar .topbar-left .left-menu > li > a {display:block;width:100%;line-height:40px;padding:0 20px;font-size:12px;color:#555555}
.header-topbar .topbar-left .left-menu > li > a:hover {text-decoration:underline}
.header-topbar .topbar-left .left-menu > li > a i {color:#b5b5b5}
.header-topbar .topbar-left .left-menu > li > a:hover i {color:#555555}
.header-topbar .topbar-left .left-menu > li > a.active {background:#fff;font-weight:bold;color:#FF4848}
.header-topbar .topbar-center {display:inline-block}
.header-topbar .topbar-center .notice-roll {width:220px;text-align:left;border:0;background:transparent;margin:5px 0}
.header-topbar .topbar-center .notice-roll ul li a {color:#c5c5c5}
.header-topbar .topbar-center .notice-roll ul li a:hover {color:#fff;text-decoration:underline}
.header-topbar .topbar-right {position:absolute;top:0;right:0;text-align:right;margin-right:15px}
.header-topbar .topbar-right .mobile-nav-trigger {display:none}
.header-topbar .topbar-right > .member-menu > li {padding:0 7px;line-height:40px;display:inline-block}
.header-topbar .topbar-right > .member-menu > li > a {font-size:12px;color:#555555}
.header-topbar .topbar-right > .member-menu > li > a:hover {text-decoration:underline}
.header-topbar .topbar-right > .member-menu > li > a i {color:#b5b5b5}
.header-topbar .topbar-right > .member-menu > li > a:hover i {color:#555555}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu {position:relative}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul {left:inherit;right:0;font-size:12px;border:1px solid #e5e5e5;box-shadow:none;margin-top:-1px}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a {color:#555555}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a:hover {color:#000;background:#f5f5f5}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li.divider {background:#e5e5e5}
.header-topbar .topbar-right > .member-menu > li.dropdown-extended li {border-left:0;border-right:0;top:0;margin-left:0;position:relative;border:0;text-align:left}
.header-topbar .dropdown-extended .dropdown-menu {float:right;left:inherit;right:0px;margin:0;border:0;background-color:#fff;width:275px;z-index:999;border-radius:4px !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.35)}
.header-topbar .dropdown-extended .dropdown-menu:before {position:absolute;top:-7px;right:20px;display:inline-block !important;border-right:7px solid transparent;border-bottom:7px solid #fafafa;border-left:7px solid transparent;border-bottom-color:#ccc;content:""}
.header-topbar .dropdown-extended .dropdown-menu:after {position: absolute;top:-6px;right:21px;display:inline-block !important;border-right:6px solid transparent;border-bottom:6px solid #fafafa;border-left:6px solid transparent;content:""}
.header-topbar .dropdown-extended .dropdown-menu > li.external {display:block;overflow:hidden;padding:10px 15px;letter-spacing:0.5px}
.header-topbar .dropdown-extended .dropdown-menu > li.external > h5 {margin:0;padding:0;float:left;font-size:12px;display:inline-block}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a {display:inline-block;padding:0;background:none;clear:inherit;font-size:12px;position:absolute;right:10px;border:0;color:#000;text-decoration:underline}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a:hover {text-decoration:underline;color:#FF4848}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list {padding:0;margin:0;list-style:none;position:relative;width:246px}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {display:block;clear:both;white-space:normal;padding:8px 0 0;text-shadow:none}

/*---------- Header Title ----------*/
.header-title {position:relative}
.header-title .header-title-in {position:relative;overflow:hidden;box-sizing:border-box;text-align:center;width:100%;height:100px;color:#fff;z-index:1001;margin-top:40px;background:#fff}
.header-title .header-title-in h1 {position:absolute;left:20px;font-size:30px;font-weight:bold;color:#353535;margin:24px 0 0}
.header-title .header-title-in .title-logo-image {position:absolute;left:20px;width:auto;height:50px;margin:25px 0 0}
.header-title .header-title-in .header-title-search {position:absolute;width:400px;left:50%;margin-left:-200px;margin-top:17px}
.header-title .header-title-in .header-title-search.shop-search {margin-top:30px}
.header-title .header-title-in .header-title-search .eyoom-form .input > input {height:40px;margin-bottom:3px;border:1px solid #d5d5d5;background:#fff;color:#353535}
.header-title .header-title-in .header-title-search .eyoom-form .input-button .button {height:38px;line-height:38px;font-size:20px;padding:0 15px;background:#fff;color:#757575;border:0;opacity:1}
.header-title .header-title-in .header-title-banner {position:absolute;top:20px;right:15px;height:60px}
.header-title .header-title-in .header-title-banner .title-banner-icon {position:relative;float:left;margin-left:7px}
.header-title .header-title-in .header-title-banner .title-banner-icon .banner-icon-cart-btn {position:relative;width:60px;height:60px;background:#fff;text-align:center;color:#757575;border:1px solid #c5c5c5;padding:10px 0}
.header-title .header-title-in .header-title-banner .title-banner-icon .banner-icon-cart-btn:hover {border:1px solid #b5b5b5}
.header-title .header-title-in .header-title-banner .title-banner-icon .banner-icon-cart-btn i {display:block;font-size:17px;color:#b5b5b5}
.header-title .header-title-in .header-title-banner .title-banner-icon .banner-icon-cart-btn .icon-text {display:block;font-size:11px;margin-top:5px}
.header-title .header-title-in .header-title-banner .title-banner-icon .badge {position:absolute;top:-7px;right:-5px}

/*---------- Header Nav ----------*/
.header-nav {position:relative}
.header-nav .navbar {border:none;margin-bottom:0;background-color:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;box-shadow:0 -1px 0px #e5e5e5;white-space:nowrap;height:60px}
.header-nav .navbar-nav > li > a {font-size:12px;letter-spacing:0px}
.header-nav .nav > li > a:hover, .header-nav .nav > li > a:focus {background:inherit}
/* Nav In Center */
.header-nav .nav-center {display:inline-block;width:400px;position:absolute;left:50%;margin-left:-200px}
/* Navbar Nav */
.header-nav .navbar {position:relative;width:100%;z-index:1002;background-color:#fff;white-space:nowrap;height:60px}
.header-nav .container > .navbar-header, .header-nav .container-fluid > .navbar-header {margin-bottom:-10px}
.header-nav .navbar-nav {position:relative;float:none}
.header-nav .navbar-nav .nav-li-divider {width:2px;height:20px;background:#e5e5e5;margin-top:20px}
.header-nav .navbar-nav > li > a {padding:0 20px;line-height:60px;font-size:15px;font-weight:bold}
.header-nav .navbar-nav > li > a:hover {background:transparent}
.header-nav .navbar-nav > li > a > .nav-icon-pre {margin-right:15px}
.header-nav .navbar-nav > li.dropdown > a {padding-right:30px}
.header-nav .navbar-nav > li > a, .header-nav .navbar-nav > li > a:hover, .header-nav .navbar-nav > li > a:focus, .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#353535}
.header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#353535}
.header-nav .navbar-nav > .dropdown > a:after {top:0;right:15px;font-size:11px;position:absolute;color:#b5b5b5;display:inline-block;font-family:'Font Awesome\ 5 Free';content:"\f0d7";font-weight:900}
/* Dropdown Menu */
.header-nav .dropdown {position:static}
.header-nav .dropdown-menu {border:1px solid #e5e5e5;padding:10px;margin-top:0 !important;min-width:190px;background:#fff;z-index:999 !important;box-shadow:none;box-sizing:border-box;left:auto;margin-top:0 !important}
.header-nav .dropdown-menu:before {-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);width:8px;height:8px;background:#fff;border-left:1px solid #c5c5c5;border-top:1px solid #c5c5c5;box-shadow:none;content:"";position:absolute;top:-4px;left:40px}
.header-nav .dropdown-menu .dropdown-menu:before {-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:19px;left:-5px}
.header-nav .dropdown-menu li a {color:#353535;font-size:13px;font-weight:normal;padding:6px 10px}
.header-nav .dropdown-menu .active > a {color:#FF4848;background:inherit;filter:none !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
.header-nav .dropdown-menu li > a:focus {background:none;filter:none !important}
.header-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {display:block}
.header-nav .open > .dropdown-menu {display:none}
.header-nav .dropdown-menu > li a:hover {background:none;color:#FF4948}
/* Dropdown Submenu */
.header-nav .dropdown-submenu {position:relative}
.header-nav .dropdown-submenu > a > .sub-caret {position:absolute !important;left:inherit !important;right:0;top:8px;float:right;font-size:11px;display:inline-block}
.header-nav .dropdown-submenu > .dropdown-menu {top:-11px;left:100%;margin-left:0px}
.header-nav .dropdown-submenu:hover > .dropdown-menu {display:block}
.header-nav .dropdown-menu li [class^="fa-"], .header-nav .dropdown-menu li [class*=" fa-"] {left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}
.header-nav .dropdown-menu li [class^="fa-"].fa-lg, .header-nav .dropdown-menu li [class*=" fa-"].fa-lg {width:1.5625em}
/* Category Nav */
.header-nav .navbar-nav > li.nav-category > a {width:220px;line-height:60px;text-align:left;margin-left:0px;color:#353535;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
.header-nav .navbar-nav > li.nav-category > a:after {color:#b5b5b5}
.header-nav .navbar-nav.navbar-nav-main > li.nav-category.nav-category-main > ul {display:block}
/* Category Nav List */
.header-nav .navbar-nav > li.nav-category .dropdown-menu {margin-top:0 !important}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu {width:220px;min-height:400px;border:1px solid #e5e5e5;border-top:0;background:#fff;padding:10px}
.header-nav .navbar-nav.navbar-nav-main > li.nav-category > .dropdown-menu {}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu:before {display:none}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu li a {display:block;position:relative;background:transparent;padding:0 10px;height:38px;line-height:38px}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu li a i {color:#b5b5b5}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu li a:hover {background:transparent;color:#FF4848 !important;text-shadow:none;border-radius:0 !important}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu li.dropdown > a:after {position:absolute;top:0px;right:5px;margin-top:-3px;font-size:11px;color:#b5b5b5;display:inline-block;font-family:'Font Awesome\ 5 Free';content:"\f105";font-weight:900}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > li > .more-view {display:block;color:#959595;font-size:13px;padding:0 10px;height:40px;line-height:40px;cursor:pointer}
/* Category Nav List Open */
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > a {color:#FF4848}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > a i {color:#b5b5b5}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > a:after {color:#FF4848}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > .dropdown-menu {display:block;top:0;left:100%;width:381px;height:100%;height:calc(100% + 1px);border:1px solid #e5e5e5;border-top:0;background:#fff}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > .dropdown-menu:before {display:none}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical.open > .dropdown-menu > .dropdown-submenu  {width:190px}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu {position:static}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu > a {position:relative}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu > a > .sub-caret {top:10px;right:20px}
/* Category Nav Submenu Open */
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul .submenu-marker {display:none}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu:hover > a {color:#FF4400}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu:hover > a > i {color:#FF4400}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu > .dropdown-menu {top:0;left:190px;width:190px;height:100%;border:1px solid #e5e5e5;border-top:0;border-bottom:0;margin:0;background:#fff}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu > .dropdown-menu > li > a {background:inherit}
.header-nav .navbar-nav > li.nav-category > .dropdown-menu > .item-vertical > ul > .dropdown-submenu > .dropdown-menu:before {display:none}
/* Header Nav Fixed */
#header-fixed .header-nav.header-sticky {width:100%;height:auto;z-index:999;position:relative}
#header-fixed .header-nav.header-fixed-trans {position:fixed;top:37px;left:0}
#header-fixed .header-nav.header-fixed-trans .navbar {border-top:0}
#header-fixed .header-nav.header-fixed-trans .navbar-nav > li.nav-category > a {margin-top:0}
#header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:50px}
/* Boxed Layout Header Nav Fixed */
.boxed-layout#header-fixed .header-nav.header-sticky {left:inherit;width:inherit}

/*---------- Sidebar Nav ----------*/
.sidebar .sidebar-member-menu {display:none}

/*---------- Basic Body ----------*/
.basic-body.page-padding {padding-top:25px;padding-bottom:60px}
.basic-body.ft-padding {padding-bottom:25px}
.basic-body .basic-body-page {position:relative;background:#fff;padding:0 15px;border:1px solid #e5e5e5}
.basic-body .basic-body-page .category-mobile-area {display:none}
.basic-body .basic-body-page .basic-body-main {background:#fff;padding-left:20px;padding-right:20px;padding-top:25px;padding-bottom:25px}
.basic-body .basic-body-main {padding-top:25px;padding-bottom:60px}
.basic-body .basic-body-main.left-main {border-right:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.right-main {border-left:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.page-padding {padding-bottom:25px}
.basic-body .basic-body-main.ft-padding {padding-bottom:25px}
.basic-body .basic-body-side {padding:25px 20px}
.basic-body .basic-body-side.left-side {margin-right:-1px;border-right:1px solid #e5e5e5}
.basic-body .basic-body-side.right-side {margin-left:-1px;border-left:1px solid #e5e5e5}
.basic-body .basic-body-side .side-mobile-area {display:none}
.basic-body .basic-body-main.col-md-9 {width:73%}
.basic-body .basic-body-side.col-md-3 {width:27%}

/*---------- Footer Top ----------*/
.footer-top {position:relative;width:100%;min-height:100px;background:#fff;border-top:1px solid #e5e5e5}
.footer-top-content {position:relative}
.footer-top-content .footer-top-logo {position:absolute;top:3px;left:0;width:140px;height:auto}
.footer-top-content .footer-top-logo h2 {color:#fff;font-weight:bold;margin:0;font-size:22px}
.footer-top-content .footer-top-info {position:relative;margin-top:30px;margin-left:180px;margin-bottom:30px;word-break:keep-all;font-size:12px}
.footer-top-content .footer-top-info strong {color:#353535}
.footer-top-content .footer-top-info span {color:#757575}
.footer-top-content .footer-top-info span.info-divider {margin-left:5px;margin-right:5px;color:#d5d5d5}
.footer-top-content .footer-top-info a {color:#555555;text-decoration:underline}
.footer-top-content .footer-top-info a:hover {color:#353535}
.footer-top-content .footer-top-info .btn-e-xs {line-height:11px;color:#fff;text-decoration:none}

/*---------- Footer ----------*/
.footer {position:relative;background:#fff;border-top:1px solid #e5e5e5}
.footer .footer-left {position:absolute;left:0}
.footer .footer-left > ul {margin:0}
.footer .footer-left > ul > li {color:#555555;font-size:11px;line-height:34px;border-right:1px solid #e5e5e5;padding:0 14px}
.footer .footer-left > ul > li:last-child {border-right:0;box-shadow:none}
.footer .footer-left > ul > li:last-child a {margin-right:14px;color:#656565}
.footer .footer-left > ul > li:last-child a:hover {text-decoration:underline}
.footer .footer-left .footer-info-btn {display:inline-block;cursor:pointer;box-shadow:none}
.footer .footer-left .dropup .dropdown-menu > li > a {font-size:11px}
.footer .footer-right {text-align:right;padding-right:14px;overflow:hidden}
.footer .footer-right p {color:#656565;font-size:11px;line-height:34px;margin-bottom:0}

/*---------- Sidebar Member ----------*/
.sidebar-shop-mask {display:none}
.sidebar-shop-mask.active {display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:1006;background:#000;opacity:0.5}
.sidebar-shop-member-wrap {position:fixed;top:0;bottom:0;right:0;z-index:1007;height:100%;background:#fff}
.sidebar-shop-member-btn {position:absolute;bottom:50%;left:-42px;width:42px;height:100px;margin-bottom:-42px;background:#4B4B4D;border:0;font-size:20px;color:#fff}
.sidebar-shop-member-btn.mo-btn {display:none}
.sidebar-shop-member-btn i {display:block;width:42px;height:50px;line-height:50px}
.sidebar-shop-member-btn .direction-icon {display:block;width:42px;height:50px;line-height:50px;background:#2B2B2E}
.sidebar-shop-member-btn.active .fa-outdent {display:none}
.sidebar-shop-member-btn.active .direction-icon:before {display:block;width:42px;height:50px;line-height:50px;content:"\f00d";font-family:'Font Awesome\ 5 Free';font-weight:900;background:#000}
.sidebar-shop-member {display:none;overflow-y:auto !important;width:280px;height:100%;padding:15px;-webkit-overflow-scrolling:touch}
.sidebar-shop-member-in {width:250px}
.sidebar-shop-member .shop-member-box {position:relative;margin-bottom:25px}
.sidebar-shop-member .shop-member-box-btn {position:relative;margin-bottom:5px;text-align:left;padding:12px 10px}
.sidebar-shop-member .shop-member-box-btn:last-child {margin-bottom:0}
.sidebar-shop-member .shop-member-box-btn span.badge {top:10px;right:10px}
.sidebar-shop-member .shop-member-box .op-area {display:none;border:1px solid #d5d5d5;margin:5px 0;padding:10px}
.sidebar-shop-member .shop-member-box .op-area h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sidebar-shop-member .shop-member-box .op-area li {border-bottom:1px solid #e5e5e5;position:relative;padding:10px 0;min-height:90px;padding-left:80px}
.sidebar-shop-member .shop-member-box .op-area li .prd-img {position:absolute;top:10px;left:0px;padding:3px;border:1px solid #eaeaea}
.sidebar-shop-member .shop-member-box .op-area li .prd-cost {display:block;font-weight:bold;margin:3px 0 0}
.sidebar-shop-member .shop-member-box .op-area .li-empty {padding:20px 0 10px;padding-left:0;color:#959595;border-bottom:0;text-align:center;min-height:inherit}
.sidebar-shop-member .shop-member-box #stv {position:relative}
.sidebar-shop-member .shop-member-box #stv_pg {display:block;;text-align:center;margin:10px 0 0;line-height:20px}
.sidebar-shop-member .shop-member-box .stv-item {display:none;padding:0 9px;word-break:break-all}
.sidebar-shop-member .shop-member-box #up {position:absolute;bottom:10px;left:10px;width:30px;height:20px;overflow:hidden;border:1px solid #c5c5c5}
.sidebar-shop-member .shop-member-box #up span {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sidebar-shop-member .shop-member-box #down {position:absolute;bottom:10px;right:10px;width:30px;height:20px;overflow:hidden;border:1px solid #c5c5c5}
.sidebar-shop-member .shop-member-box #down span {position:absolute;font-size:0;line-height:0;overflow:hidden}

/*---------- Page Title ----------*/
.page-title-wrap {position:relative;background:#fff;border-bottom:1px solid #e5e5e5;padding:20px 0}
.page-title-wrap h2 {margin:0;padding:0;font-size:22px;color:#454545;font-weight:bold}
.page-title-wrap .breadcrumb {margin:3px 0 0;padding:0;background:none;font-size:12px;color:#656565}
.page-title-wrap .breadcrumb li {color:#656565}
.page-title-wrap .breadcrumb li a {color:#656565}

/*---------- Main Index ----------*/
.main-banner-wrap {position:relative;height:379px;margin-bottom:40px}
.main-banner-left {float:left;width:220px;height:378px;background:#fff}
.main-banner-right {float:right;width:895px;height:378px;position:relative}
.main-heading h2 {position:relative;text-align:center;font-size:20px;margin:0 0 30px}
.main-heading h2 strong {color:#454545}
.main-heading h2:after {content:"";position:absolute;bottom:-10px;left:50%;display:block;width:20px;height:2px;margin-left:-10px;background:#d5d5d5}

/*---------- Sidebar Tab ----------*/
.sidebar-tab {position:relative;margin:0 0 25px}
.sidebar-tab .nav-tabs {background:#f5f5f5;border-bottom:1px solid #e5e5e5}
.sidebar-tab .nav-tabs li {width:50%}
.sidebar-tab .nav-tabs li a {text-align:center;margin-right:0;margin-left:-1px;color:#959595;border:1px solid #e5e5e5;padding:7px 5px;font-size:12px}
.sidebar-tab .nav-tabs li:first-child a {margin-left:0}
.sidebar-tab .nav-tabs li a:hover {background:#fff;border-bottom:1px solid #e5e5e5}
.sidebar-tab .nav-tabs li.active a {z-index:1;background:#fff;font-weight:bold;color:#353535;border-bottom:0}
.sidebar-tab .tab-content {position:relative;border:1px solid #e5e5e5;border-top:0;padding:10px;background:#fff}